<!DOCTYPE html>
<html>
  <head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <script src="static/js/jquery.js"></script>
    <script src="static/js/javascript.js"></script>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
