<div class="plutti">
  <span id="changeProtocol">http</span>|<span id="protocol">https</span><span class="middle">://</span><label><input id="url" placeholder="pluttig.nu" type="" /></label><div class="button">Skapa</div><br />
  Egen URL: <div class="checkbox"><input id="requestURL" type="checkbox" /><label for="requestURL"></label></div><label id="requestURLinput" style="display: none;">http://pluttig.nu/<input id="request" placeholder="baochikawaowao" type="" /></label><br />
  <div class="message"></div>
</div>
<div class="github"><a href="https://github.com/jontesehlin/pluttig"></a></div>
